@model IEnumerable<MVC_Panderia.Models.usuario>


@{
    ViewBag.Title = "Usuarios";
}

<div class="row  pb-2">
    <div class="col-6"><h4>@ViewBag.Title </h4></div>
    <div class="col-6">
        @Html.ActionLink("Nuevo Usuario", "Create", "usuario", new { @class = "btn btn-primary float-right", Id="btnGuardar" })
    </div>
</div>
<div class="row">
    <div class="table-responsive col-12">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.nombre_usuario</td>
                        <td>@item.email</td>
                        <td>@Html.DisplayFor(modelItem => item.rol.nombre_rol)</td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary pl-2", Id= "btn-Editar-index" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-primary pl-2", Id= "btnEliminar-index" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
