<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery-3.0.0.min.js"></script>

</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            @Html.ActionLink("Panaderias Dirty CAT", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="nav navbar-nav flex-row justify-content-between ml-auto">
                    @if (@User.Identity.Name != "")
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Maestros
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">@Html.ActionLink("Medidas", "Index", "unidad_medida", new { area = "" }, new { @class = "dropdown-item" })</a>
                                <a class="dropdown-item" href="#">@Html.ActionLink("Lineas", "Index", "linea", new { area = "" }, new { @class = "dropdown-item" })</a>
                                <a class="dropdown-item" href="#">@Html.ActionLink("Familias", "Index", "familia", new { area = "" }, new { @class = "dropdown-item" })</a>
                                <a class="dropdown-item" href="#">@Html.ActionLink("Articulos", "Index", "articulo", new { area = "" }, new { @class = "dropdown-item" })</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Configuraciones
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">@Html.ActionLink("Recetas", "Index", "cabecera_receta", new { area = "" }, new { @class = "dropdown-item" })</a>
                                <a class="dropdown-item" href="#">@Html.ActionLink("Costos Produccion", "Index", "costo", new { area = "" }, new { @class = "dropdown-item" })</a>
                                <a class="dropdown-item" href="#">@Html.ActionLink("Precios Venta", "Index", "precio_venta", new { area = "" }, new { @class = "dropdown-item" })</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Transacciones
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">@Html.ActionLink("Produccion", "Index", "cabecera_produccion", new { area = "" }, new { @class = "dropdown-item" })</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Reportes
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">@Html.ActionLink("Analisis de costo por kilo de producto", "Index", "analisis_costos_kilos", new { area = "" }, new { @class = "dropdown-item" })</a>
                                <a class="dropdown-item" href="#">@Html.ActionLink("Analisis de costo por Jornada laboral", "Index", "analisis_costos_jornada", new { area = "" }, new { @class = "dropdown-item" })</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @User.Identity.Name
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">@Html.ActionLink("Cerrar Sesion", "logOut", "usuario", new { area = "" }, new { @class = "dropdown-item" })</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">@Html.ActionLink("Usuarios", "Index", "usuario", new { area = "" }, new { @class = "dropdown-item" })</a>
                            </div>
                        </li>
                    }
                </ul>
                @if (@User.Identity.Name == "")
                {
                    <a href="#" data-toggle="modal" data-target="#LoginModal">Iniciar Sesion</a>
                }
                @*<div class="align-items-end w-100">
            <div class="row">
                @if (@User.Identity.Name == "")
                {
                    <a href="#" data-toggle="modal" data-target="#LoginModal">Iniciar Sesión</a>
                }
                else
                {
                    @Html.ActionLink("Cerrar Sesion", "logOut", "usuario", new { area = "" }, new { @class = "" })
                }
            </div>
            <div class="row">
                <p>@User.Identity.Name</p>
            </div>
        </div>*@
            </div>            
        </nav>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Mi aplicación ASP.NET</p>
        </footer>
    </div>

    @using (Html.BeginForm("signIn", "usuario"))
        {
            <div class="modal fade" data-backdrop="static" id="LoginModal" tabindex="-1" role="dialog" aria-labelledby="LoginModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="LoginModalLabel">Inicio de sesión</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">



                            <div class="form-group">
                                <label class="form-control-label">Usuario</label>
                                <input class="form-control" name="Id">*
                                @*@Html.ValidationMessageFor(model => model.Id)*@
                                <small id="usernameHelp" class="form-text text-muted">Nunca comparta su cuenta de usuario y contraseña con otros usuarios.</small>
                            </div>
                            <div class="form-group">
                                <label class="form-control-label">Contraseña</label>
                                <input type="password" class="form-control" name="contrasena">*
                                @*@Html.ValidationMessageFor(model => model.contraseña)*@
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" id="chkRecordar" class="form-check-input" runat="server">
                                    Recordarme
                                </label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success pl-2">Aceptar</button>
                            <button Id="btnHideModal" type="button" value="Cancel" class="btn btn-primary pl-2">Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnHideModal").click(function () {
                $("#LoginModal").modal('hide');
            });
        });

        function check(input) {
            if (input.value != document.getElementById('txt_password_nueva').value) {
                input.setCustomValidity('Las contraseñas deben ser iguales.');
            } else {
                // input is valid -- reset the error message
                input.setCustomValidity('');
            }
        }
    </script>

</body>
</html>
