
@{
    ViewBag.Title = "Analisis costo por jornada";
}
@using (Html.BeginForm())
{
    <div class="row">
        <div class="form-group col-3">
            <label>Fecha Inicial</label>
            <input type="date" class="form-control" name="fecha_inicial">
        </div>
        <div class="form-group col-3">
            <label>Fecha Final</label>
            <input type="date" class="form-control" name="fecha_final">
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            @Html.ActionLink("Ejecutar", "", "", new { @class = "btn btn-primary" })
        </div>
    </div>
    <div class="row">
        <div class="table-responsive col-12">
            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th>Fecha</th>
                        <th>Valor Costo</th>
                        <th>Valor Venta</th>
                        <th>Rentabilidad</th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.nombre</td>
                                <td>@Html.DisplayFor(modelItem => item.familia.nombre)</td>
                                <td>@Html.DisplayFor(modelItem => item.unidad_medida.nombre)</td>
                                <td>@item.codigo_barra</td>
                                <td>@item.marca</td>
                                <td>@item.formato</td>
                                <td>
                                    @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary pl-2" })
                                    @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-primary pl-2" })
                                </td>
                            </tr>
                        }*@
                </tbody>
            </table>
        </div>
    </div>
    }
