@model IEnumerable<MVC_Panderia.Models.cabecera_receta>

@{
    ViewBag.Title = "Receta";
}
@using (Html.BeginForm())
{
    <div class="row  pb-2">
        <div class="col-6"><h4>@ViewBag.Title </h4></div>
        <div class="col-6">
            @if (@Session["rol"].ToString() == "1" || @Session["rol"].ToString() == "4")
            {
                @Html.ActionLink("Nueva Receta", "Create", "cabecera_receta", new { @class = "btn btn-primary float-right" })
            }
            </div>
    </div>
<div class="row">
    <div class="table-responsive col-12">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Articulo</th>
                    <th>Acciones</th>  
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@Html.DisplayFor(modelItem => item.articulo.nombre)</td>

                        <td>
                            @if (@Session["rol"].ToString() == "1" || @Session["rol"].ToString() == "4")
                            {
                                @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary pl-2" })
                                @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-primary pl-2" })
                                @Html.ActionLink("Detalle", "IndexDetail", new { id = item.Id, nombre = item.articulo.nombre }, new { @class = "btn btn-primary pl-2" })
                            }
                            @if (@Session["rol"].ToString() == "1" || @Session["rol"].ToString() == "3" || @Session["rol"].ToString() == "4")
                            {
                                @Html.ActionLink("Costo", "IndexDetailCosto", new { id = item.Id, nombre = item.articulo.nombre }, new { @class = "btn btn-primary pl-2" })
                            }
                            @if (@Session["rol"].ToString() == "1" || @Session["rol"].ToString() == "4")
                            {
                                @Html.ActionLink("Precio Venta", "IndexDetailPrecioVenta", new { id = item.Id, nombre = item.articulo.nombre }, new { @class = "btn btn-primary pl-2" })
                            }
                            </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
}