@model MVC_Panderia.Models.precio_venta

@{
    ViewBag.Title = "Esta seguro de eliminar este <b>precio de venta</b>?";
}

@using (Html.BeginForm())
{
    <div class="row  pb-2">
        <div class="col-12"><h4>@ViewBag.Title </h4></div>
    </div>
    @Html.HiddenFor(model => model.Id)
    <div class="form-group">
        <label>Fecha</label>
        @Html.EditorFor(model => model.fecha, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
        <label>Valor</label>
        @Html.EditorFor(model => model.valor, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
    </div>
    <button type="submit" value="Delete" class="btn btn-danger  pl-2">Eliminar</button>
    <button type="button" value="Cancel" class="btn btn-primary  pl-2" onclick="javascript:document.location.href='@Url.Action("Index", "precio_venta")'">Cancelar</button>
}