@model IEnumerable<MVC_Panderia.Models.linea>

@{
    ViewBag.Title = "Lineas";
}

<div class="row  pb-2">
    <div class="col-6"><h4>@ViewBag.Title </h4></div>
    <div class="col-6">
        @Html.ActionLink("Nueva Linea", "Create", "linea", new { @class = "btn btn-primary float-right" })
    </div>
</div>
<div class="row">
    <div class="table-responsive col-12">
        <table class="table">
            <thead class="thead-light">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.nombre</td>
                        <td>
                            @Html.ActionLink("Editar", "Edit", new { id = item.Id }, new { @class = "btn btn-primary pl-2" })
                            @Html.ActionLink("Eliminar", "Delete", new { id = item.Id }, new { @class = "btn btn-primary pl-2" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
